# Folders
target/
.gradle/
build/
logs/

# IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.settings/
*.classpath
*.project

# Sonar
.scannerwork

# GEO database
tech1-framework-b2b-mongodb-server/src/main/resources/GeoLite2-City.mmdb
