<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{ISO8601} %clr(%5p) %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){yellow} %clr(:){faint} %m%n
            </Pattern>
        </layout>
    </appender>

    <logger name="jbst" level="info" />
    <logger name="org.springframework" level="warn" />
    <logger name="com.ulisesbocchio" level="warn" />
    <logger name="org.apache" level="error" />

    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
