<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />

    <property name="LOGS_HOME" value="/root/logs" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{ISO8601} %clr(%5p) %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){yellow} %clr(:){faint} %m%n
            </Pattern>
        </layout>
    </appender>

    <appender name="FILE-DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_HOME}/debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_HOME}/archive/debug.%d{dd-MM-yyyy}.%i.log</fileNamePattern>
            <!-- keep maximum 3 days worth of archive files, deleting older ones -->
            <maxHistory>3</maxHistory>
            <!-- total size of all archived files is at most 100MB -->
            <totalSizeCap>50MB</totalSizeCap>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- each file should be at most 5MB -->
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{ISO8601} %5p --- [%15.15t] %-40.40logger{39}: %m%n
            </Pattern>
        </encoder>
    </appender>

    <appender name="FILE-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_HOME}/error.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_HOME}/archive/error.%d{dd-MM-yyyy}.%i.log</fileNamePattern>
            <!-- keep maximum 3 days worth of archive files, deleting older ones -->
            <maxHistory>3</maxHistory>
            <!-- total size of all archived files is at most 100MB -->
            <totalSizeCap>50MB</totalSizeCap>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- each file should be at most 5MB -->
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{ISO8601} %5p --- [%15.15t] %-40.40logger{39}: %m%n
            </Pattern>
        </encoder>
    </appender>

    <appender name="ASYNC-FILE-DEBUG" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE-DEBUG" />
    </appender>

    <appender name="ASYNC-FILE-ERROR" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE-ERROR" />
    </appender>

    <logger name="com.ulisesbocchio" level="warn" />
    <logger name="org.apache" level="warn" />
    <logger name="org.mongodb" level="warn" />
    <logger name="org.springframework" level="warn" />

    <root level="info">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ASYNC-FILE-DEBUG" />
        <appender-ref ref="ASYNC-FILE-ERROR" />
    </root>
</configuration>